*{
    margin: 0;
    padding: 0;
}

.login{
    background-color: #f3f3f3;
}

.login .nav{
    position: fixed;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #bbbbbb;
    background-color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight:400;
}

.login .nav>p{
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
}

.nav{
    font-size: 100px;
}